version: "3"

services:
  janusgraph:
    image: janusgraph/janusgraph:0.6.3
    container_name: janusgraph
    environment:
      gremlinserver.maxContentLength: 16777216 # 2^24
    ports:
      - "8182:8182"
  mysql:
    image: mysql:8.3.0-oraclelinux8
    container_name: mysql
    environment:
      MYSQL_DATABASE: graphdb2rdb
      MYSQL_ROOT_PASSWORD: root
    ports:
      - "3306:3306"
